@import "tailwindcss";
@source "../docs/*.html";
@source "../**/*.go";
@source "./tailwind.whitelist.html";

@plugin "./daisyui.js";

/* Optional for custom themes – Docs: https://daisyui.com/docs/themes/#how-to-add-a-new-custom-theme */
@plugin "./daisyui-theme.js"{
        name: "cupcake";
        default: true;
        prefersdark: false;
        color-scheme: "light";
        --color-base-100: oklch(97.788% 0.004 56.375);
        --color-base-200: oklch(96% 0.001 286.375);
        --color-base-300: oklch(87% 0.006 286.286);
        --color-base-content: oklch(23.574% 0.066 313.189);
        --color-primary: oklch(80% 0.105 251.813);
        --color-primary-content: oklch(43% 0.078 188.216);
        --color-secondary: oklch(89% 0.061 343.231);
        --color-secondary-content: oklch(45% 0.187 3.815);
        --color-accent: oklch(90% 0.076 70.697);
        --color-accent-content: oklch(47% 0.157 37.304);
        --color-neutral: oklch(27% 0.006 286.033);
        --color-neutral-content: oklch(92% 0.004 286.32);
        --color-info: oklch(68% 0.169 237.323);
        --color-info-content: oklch(39% 0.09 240.876);
        --color-success: oklch(62% 0.194 149.214);
        --color-success-content: oklch(98% 0.003 247.858);
        --color-warning: oklch(79% 0.184 86.047);
        --color-warning-content: oklch(47% 0.114 61.907);
        --color-error: oklch(71% 0.194 13.428);
        --color-error-content: oklch(39% 0.141 25.723);
        --radius-selector: 0.5rem;
        --radius-field: 0.5rem;
        --radius-box: 1rem;
        --size-selector: 0.21875rem;
        --size-field: 0.25rem;
        --border: 2px;
        --depth: 1;
        --noise: 0;
}